#main{
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    height: 1px;
    width: 1px;
    border: white 2px;
}

.cell{
    width: 15px;
    height: 15px;
}

#spacer{
    height: 10px;
}